<meta name="viewport" content="width=device-width, initial-scale=1.0">
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="desktop">Distribution Gratuite de Visières Anti Projection</span>
        <span class="mobile">Visières Solidaires</span>
        <span class="loginBar"> <button mat-button *ngIf="!signedIn" (click)="onSignIn()">Se connecter</button>
            <button mat-button *ngIf="signedIn" (click)="onLogout()">Deconnexion</button></span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet>
</router-outlet>