.jumbotron{

    margin:50px;

    align-items: center;
    justify-content: center;
}

.loginBar{
    float:right;
    margin-left:auto;
}

.demandCard {
 margin:20px;
 width:200px;
 height:200px;
}

.demandContainer {
    display:flex;
    flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}