.desktop {
    display: none;
  }

@media screen and (min-width: 701px) {
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }

.loginBar{
    float:right;
    margin-left:auto;
}
