<a routerLink="/home" class="breadMargin">Retour à l'accueil</a>
<mat-card class="articleCard">
    <h1 itemprop="name">Visières anti projection gratuites - Shields - Visièresolidaire - Covid19</h1>
    <p id="product_reference" style="display: none;">
        <label>R&eacute;f&eacute;rence : </label>
        <span class="editable" itemprop="sku"></span>
    </p>

    <div id="short_description_block">
        <div id="short_description_content" class="rte align_justify" itemprop="description">
            <h4><span style="color:#d0121a;">Les visières anti projection sont distribuées gratuitement.</span></h4>
            <h4><span style="color:#4a4a4a;">Dans un premier temps, les visières sont disponibles pour les
                    "soignants".</span></h4>
            <h4><span style="color:#4a4a4a;">Si vous avez besoin de visières, lors de la commande merci de nous donner
                    le maximum d'informations pour que l'on puisse cerner le besoin.</span></h4>
            <h4><span style="color:#4a4a4a;">La commande est le plus souvent a retirer sur son lieu de production dans
                    un périmètre proche du votre.</span></h4>
            <h4><span style="color:#d0121a;"><a
                        href="http://shields-visieresolidaire-covid19.fr/www/index.php?controller=contact"
                        target="_blank"><span style="color:#d0121a;">Vous devrez présenter un justificatif professionnel
                            lors du retrait des visières.</span></a></span></h4>
        </div>

    </div> <!-- end short_description_block -->
</mat-card>
<mat-card class="articleCard">

    <h3><strong><span style="color:#3c5a9a;">Protection :</span></strong></h3>
    <h4><span style="color:#4a4a4a;">Les visières participent à protéger contre les projections, postillons,
            salives, secrétions ...</span></h4>
    <h4><span style="color:#d0121a;">En aucun cas, elles ne peuvent remplacer du matériel médical homologué tels que
            les masques et autres.</span></h4>
    <h4><span style="color:#4a4a4a;">Les visières permettent aussi d'éviter de se toucher le visage par réflexe avec
            les mains.</span></h4>
    <h4><span style="color:#4a4a4a;">Les visières ne sont pas toutes identiques, elles diffèrent selon leur
            production, dans tous les cas, les visières doivent être considérées comme fragiles et sont à manipuler
            avec précautions.</span></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Nettoyage :</span></strong></h3>
    <h4><span style="color:#4a4a4a;"><span style="color:#d0121a;">Les visières doivent être désinfectées ou
                stérilisées</span> avant et après chaque utilisation (eau oxygénée, eau savonneuse, alcool, bain de
            désinfection, stérilisation par gaz ...)</span></h4>
    <h4><span style="color:#4a4a4a;">La plupart des visières sont réalisées avec du dérivé de plastique et sont donc
            réactives à une température de +60°C, elles risqueraient de fondre, ramollir...</span></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">A qui sont distribuées les visières :</span></strong></h3>
    <h4><span style="color:#4a4a4a;">Afin de faire face à l'urgence, dans un premier temps, <span
                style="color:#d0121a;">les visières sont distribuées à tout le personnel soignant</span> en contact
            direct avec des patients.</span></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Comment sont distribuées les visières :</span></strong></h3>
    <h4><span style="color:#4a4a4a;"><span style="color:#d0121a;">Les visières sont à venir chercher sur
                place</span> (en général, nous trouvons une distribution dans votre périmètre). Certains stocks se
            forment aussi au fur et à mesure à différents endroits... Nous nous mettons en place au fur et à mesure
            et nous essayons de trouver une solution à chaque problème. Vous pouvez aussi aller sur le groupe
            Facebook et discuter directement avec les personnes situées dans votre périmètre. Vous pouvez aussi voir
            la carte regroupant les besoins, les makers, les réseau de transport, les stocks... Si vous avez valider
            votre commande ici, nous la prenons en compte et nous vous contacterons le plus rapidement possible, de
            ce fait, merci de ne pas faire des doublons à droite et à gauche.</span></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Combien coûte les visières :</span></strong></h3>
    <h4><span style="color:#d0121a;">0€ ! En aucun cas, les visières ne peuvent être vendues.</span></h4>
    <h4><span style="color:#4a4a4a;">Les visières (et autre matériel) sont en licence open source, fabriquées et
            distribuées bénévolement, dans un esprit solidaire afin de pallier au manque de ressources face à
            l’épidémie de coronavirus. Ne pas hésiter à nous faire part de toute remarque concernant ces visières
            ainsi que toute demande pour tout autre objet complémentaire que nous pourrions imprimer en 3D (entre
            1h30 et 3h de temps de fabrication).</span></h4>
    <h4><span style="color:#d0121a;">Les concepteurs, distributeurs, assembleurs de ces visières ne pourront en
            aucun cas être tenus responsables juridiquement de l’usage qui en est fait, ni des conséquences
            matérielles ou médicales relatives à cet usage.</span></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Comment sont fabriquées les visières :</span></strong></h3>
    <h4><span style="color:#4a4a4a;">Les visières sont différentes en fonction des lieux de productions, des
            machines, des matières et autres... En général, les visières sont fabriquées avec des imprimantes 3D. Le
            bandeau ou serre tête est la plupart du temps réalisé en PLA (acide poly lactique principalement composé
            d'amidon de maïs). Le masque de la visière est la plupart du temps composé d'une feuille transparente.
            Les élastiques diffèrent selon les lieux de production. Si vous souhaitez produire des visières, merci
            d'aller sur la page <a
                href="http://shields-visieresolidaire-covid19.fr/www/index.php?id_cms=6&amp;controller=cms">fabriquer
                des visières</a>. </span></h4>
</mat-card>