<div class="jumbotron">
    <div class="majorAction" (click)="onAddDialog()">

        <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon" class="majorActionIcon">verified_user
        </mat-icon>
        <h2>J'ai besoin de matériel de protection</h2>
    </div>
    <div class="majorAction" (click)="onPrinterClick()">

        <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon" class="majorActionIcon">print
        </mat-icon>
        <h2>Je veux aider à fabriquer ou à distribuer</h2>
    </div>

    <div class="majorAction" (click)="onHelpClick()">

        <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon" class="majorActionIcon">help
        </mat-icon>
        <h2>Je veux en savoir plus</h2>
    </div>
</div>

<div class="demandContainer">
    <div #gmap class="map"></div>

    <mat-card *ngFor="let demand of demandList" class="demandCard">
        <mat-card-header class="cardTitle">
            <mat-card-title>{{demand.forWho}}</mat-card-title>
            <mat-card-subtitle>{{demand.howMany}} Visières à {{formatDistance(demand._distance_to_me)}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mainCardContent">
            {{demand.description}}
            <br>
            <p>

                <a [href]="getMapLink(demand)" target="_blank">{{demand.forWhere}}</a>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onRemoveDialog(demand)" class="demandButtton">Je
                participe
                !</button>
        </mat-card-actions>
    </mat-card>
</div>