.jumbotron{

    display:flex;
    flex-wrap: wrap;
    margin:20px;

    align-items: center;
    justify-content: center;
}

.majorAction{
    padding:20px;
    margin:20px;
    height:200px;
    width:300px;
    text-align: center;
    background:rgb(200,200,255);
    transition:all 0.3s ease;
}

.majorAction:hover{
    opacity:1;
    box-shadow: inset 0 0 0 5px #673ab7;
    background:rgb(255,255,255);
}

.majorActionIcon{

    font-size: 100px;
    width:100px;
    margin:auto;
}

.map{
    width:300px;
    height:300px;
}

.demandCard {
    margin:20px;
    width:250px;
    height:250px;
}

.cardTitle{
    overflow:hidden;
}

.mainCardContent{
    width:100%;
    height:120px;
}

.demandButtton{
    float:right;
}


.demandContainer {
    display:flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}


@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.statusReject {
    background-color: rgba(100,100,100);
}

.statusDone {
    background-color: rgba(200,200,200);
}

.statusStarted {
	position: relative;
	z-index: 0;
	border-radius: 1px;
	overflow: hidden;
	padding: 2rem;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
	}
}