.jumbotron{

    display:flex;
    flex-wrap: wrap;
    margin:20px;

    align-items: center;
    justify-content: center;
}

.majorAction{
    padding:20px;
    margin:20px;
    height:200px;
    width:300px;
    text-align: center;
    background:rgb(200,200,255);
    transition:all 0.3s ease;
}

.majorAction:hover{
    opacity:1;
    box-shadow: inset 0 0 0 5px #673ab7;
    background:rgb(255,255,255);
}

.majorActionIcon{

    font-size: 100px;
    width:100px;
    margin:auto;
}

.map{
    width:300px;
    height:300px;
}

.demandCard {
    margin:20px;
    width:250px;
    height:250px;
}

.cardTitle{
    overflow:hidden;
}

.mainCardContent{
    width:100%;
    height:120px;
}

.demandButtton{
    float:right;
}


.demandContainer {
    display:flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}