<div class="jumbotron">
    <div class="majorAction" (click)="onAddDialog()">

        <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon" class="majorActionIcon">verified_user
        </mat-icon>
        <h2>J'ai besoin de matériel de protection</h2>
    </div>
    <div class="majorAction" (click)="onPrinterClick()">

        <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon" class="majorActionIcon">print
        </mat-icon>
        <h2>Je veux aider à fabriquer ou à distribuer</h2>
    </div>

    <div class="majorAction" (click)="onHelpClick()">

        <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon" class="majorActionIcon">help
        </mat-icon>
        <h2>Je veux en savoir plus</h2>
    </div>
</div>

<div class="demandContainer">
    <div #gmap class="map"></div>

    <mat-card *ngFor="let demand of demandList" class="demandCard" [ngClass]="{
        'statusStarted': demand.status>0,

        'statusDone': demand.status>=100,
        'statusreject': demand.status<0
      }">
        <mat-card-header class="cardTitle">
            <mat-card-title>{{demand.forWho}}</mat-card-title>
            <mat-card-subtitle>{{demand.howMany}} Visières à {{formatDistance(demand._distance_to_me)}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mainCardContent">
            <p *ngIf="demand.status>0 && demand.status<30 ">Estimé pour {{formateDate(demand)}}</p>
            <p *ngIf="demand.status==20">Production démarrée !</p>
            <p *ngIf="demand.status==30">En attente de livraison : {{demand.deliveryBy}}</p>
            <p *ngIf="demand.status==30 && demand.deliveryWhere!=='_'"><a [href]="getMapLink(demand,true)"
                    target="_blank">{{demand.deliveryWhere}}</a></p>
            <p *ngIf="demand.status==40">Confirmez la réception</p>

            <p *ngIf="demand.status==100">C'est fait !</p>
            {{demand.description}}
            <br>
            <p>

                <a [href]="getMapLink(demand,false)" target="_blank">{{demand.forWhere}}</a>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onRemoveDialog(demand)" class="demandButtton">Je
                participe
                !</button>
        </mat-card-actions>
    </mat-card>
</div>