<a routerLink="/home" class="breadMargin">Retour à l'accueil</a>
<mat-card class="articleCard">
    <h1><span style="color:#000000;">Fabrication des Visières anti projection gratuites - Shields - Visièresolidaire -
            Covid19</span></h1>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Mettre sa position sur la carte :</span></strong></h3>
    <h4><span style="color:#4a4a4a;">Afin de pouvoir coordonner les uns et les autres, nous vous invitons dans un
            premier
            temps à vous marquer sur <a
                href="https://framacarte.org/fr/map/shields-covid19-31-haute-garonne-toulouse_71740?fbclid=IwAR3bu5_0-oSTk_J-GtGPVW4R-4X_HLNMm1wGxM_9PgqmMIUvxxJRSIvzhlI#9/43.6758/1.8567"
                target="_blank">cette carte</a>.</span></h4>
    <ol>
        <li>
            <h4><span style="color:#4a4a4a;">En haut à droite, cliquer sur le stylo</span></h4>
        </li>
        <li>
            <h4><span style="color:#4a4a4a;">sélectionner l'icône ajouter un marqueur</span></h4>
        </li>
        <li>
            <h4><span style="color:#4a4a4a;">positionner le sur votre secteur <span
                        style="text-decoration:underline;">(ne
                        pas mettre l'adresse précise)</span></span></h4>
        </li>
        <li>
            <h4><span style="color:#4a4a4a;">Modifier le calque de votre élément </span></h4>
        </li>
        <li>
            <h4><span style="color:#4a4a4a;">mettre soit votre nom prénom ou pseudo facebook </span></h4>
        </li>
        <li>
            <h4><span style="color:#4a4a4a;">remplir la case description</span></h4>
        </li>
        <li>
            <h4><span style="color:#4a4a4a;">enregistrer (parfois le bouton enregistrer bug, il suffit d'insister et
                    normalement çà fonctionne)</span></h4>
        </li>
    </ol>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Vous signaler comme disponible :</span></strong></h3>
    <h4><span style="color:#4a4a4a;">Merci de signaler votre ou vos machines ainsi que votre stock de bobines, feuilles
            transparentes, élastiques soit par la <a
                href="http://shields-visieresolidaire-covid19.fr/www/index.php?controller=contact" target="_blank">page
                de
                contact</a> soit directement sur <a href="https://www.facebook.com/groups/209625760358700"
                target="_blank">facebook</a></span></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Ou trouver les fichiers à télécharger :</span></strong></h3>
    <h4><a href="https://www.facebook.com/groups/209625760358700/files/" target="_blank">Les fichiers à télécharger sont
            disponibles sur facebook ici.</a></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Comment trouver les matières premières :</span></strong></h3>
    <h4><span style="color:#4a4a4a;">On va pas se mentir, pour l'instant c'est le système D ! De ce fait, pour l'instant
            se
            débrouille comme il peut... Nous essayons de trouver une solution à ce problème. Pour l'instant, des
            échanges
            d'info, de lien, de matériel et autres se font sur le <a
                href="https://www.facebook.com/groups/209625760358700" target="_blank">groupe facebook</a>.</span></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Facebook :</span></strong></h3>
    <h4><span style="color:#4a4a4a;">Tout le monde n'a pas facebook c'est certain, mais facebook permet de communiquer
            facilement les uns avec les autres ce qui est indispensable vis à vis de la situation. Si vous n'avez pas
            facebook et que vous souhaitez participer, soit vous créer un compte facebook soit vous nous contacter
            directement via notre <a href="http://shields-visieresolidaire-covid19.fr/www/index.php?controller=contact"
                target="_blank">page de contact</a> et nous prendrons vos demandes en compte.</span></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Vous avez une autorisation de circuler et vous souhaitez aider
                :</span></strong></h3>
    <h4><span style="color:#4a4a4a;">La logistique vis à vis des transports est assez difficile. Si vous avez la
            possibilité
            de participer à des livraisons de visières, matériels ou autres lors de vos trajets professionnels ou autre
            merci soit de vous positionner sur <a
                href="https://framacarte.org/fr/map/shields-covid19-31-haute-garonne-toulouse_71740?fbclid=IwAR3bu5_0-oSTk_J-GtGPVW4R-4X_HLNMm1wGxM_9PgqmMIUvxxJRSIvzhlI#9/43.6758/1.8567"
                target="_blank">la carte</a>, nous contacter <a
                href="http://shields-visieresolidaire-covid19.fr/www/index.php?controller=contact"
                target="_blank">ici</a>
            ou sur facebook sur <a href="https://www.facebook.com/groups/209625760358700" target="_blank">cette
                page</a>.
        </span></h4>
    <hr />
    <h3><strong><span style="color:#3c5a9a;">Vous n'êtes pas dans la région :</span></strong></h3>
    <h4><span style="color:#4a4a4a;">Sur cette carte, vous trouverez les <a
                href="https://www.google.com/maps/d/u/0/viewer?fbclid=IwAR2m_wE46ITy55A8uF-timZa2jQ2493IvNWCI0LIC1-AKAQnoXmtKKEkI64&amp;mid=1ZyvA9dWATCaY-3kdoNPd1zasY7rFLAq3&amp;ll=46.000992947726765%2C6.059438031250011&amp;z=6"
                target="_blank">groupes distributeurs de visières gratuites en France</a>.</span></h4>
</mat-card>